@media (max-width:1135px) {
    body{
        max-width: 900px;
        max-height: 1200px;
    }
    .massage-wall{
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(3,auto);
        grid-gap: 2%;

    }
    .massage-5{
        max-width: 880px;
        width: 100%;
        grid-column: 1/ span 3;
        grid-row-start: 3;
    }
    .massage-5 .light{
        max-width: 880px;
        width: 100%;
    }
    .massage-5 .text{
        max-width: 880px;
        width: 100%;
    }
}
@media(max-width:775px){
    body{
        max-width: 500px;
        max-height: auto;
    }
    .massage-wall{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 30px auto;
    }
    .massage{
    max-width: 470px;
    max-height: 240px;
    margin: 0 10px;
    padding: 20px;
    line-height: none;
    }
    .massage-5{
        max-height: 300px;
    }
    .massage .header-massage{
        font-size: 1rem;
    }
    .subject{
        font-size: 1.5rem;
    }
    .text{
        font-size: 1rem;
        margin-top: 0;
    }
}
@media(max-width:375px){
    
    .massage{
        width: 340px;
        max-height: 260px;
        margin: 0 10px;
        padding: 10px;
    }
    .massage-5{
        max-height: 310px;
        
    }
    .massage .header-massage{
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    .subject{
        font-size: 1.3rem;
    }
    .text{
        font-size: 0.9rem;
        margin-top: 0;
    }
}