@media (max-width:1135px) {
    body{
        max-width: 900px;
    }
    .massage-wall{
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(3,auto);
        grid-gap: 2%;

    }
    .massage-5{
        max-width: 880px;
        width: 100%;
        grid-column: 1/ span 3;
        grid-row-start: 3;
    }
    .massage-5 .light{
        max-width: 880px;
        width: 100%;
    }
    .massage-5 .text{
        max-width: 880px;
        width: 100%;
    }
}
@media(max-width:775px){
    body{
        max-width: 500px;
    }
    .massage-wall{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 30px auto;
    }
    .massage{
    max-width: 450px;
    margin: auto;
    padding: 40px;
    }
    .massage .header-massage{
        font-size: 1.2rem;
    }
    .subject{
        font-size: 1.6rem;
    }
    .text{
        font-size: 1.4rem;
        margin-top: 0;
    }
}
@media(max-width:475px){
    body{
        max-width: 370px;
    }
    .massage{
        max-width: 300px;
        min-width: 280px;
        margin: 0 auto;
    }
    .massage .header-massage{
        margin-bottom: 0;
    }
}
@media(max-width:375px){
    body{
        max-width: 260px;
    }
    .massage{
        padding: 40px;
    }
    .massage .header-massage{
        font-size: 1.2rem;
    }
    .subject{
        font-size: 1.55rem;
    }
    .text{
        font-size: 1rem;
        margin-top: 0;
    }
    .massage-5 .subject{
        font-size: 1.54rem;
    }
}