@media(max-width:900px){
    .massage-wall{
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(3,290px);
    }
    .massage-5{
        width: 900px;
        height: 290px;
        grid-column: 1/ span 3;
        grid-row-start: 3;
    }
    .massage-5 .light{
        width: 860px;
    }
    .massage-5 .text{
        width: 860px;
    }

}

@media(max-width:375px){
    .massage-wall{
        display: flex;
        flex-direction: column;
    }
    .massage{
    width: 90vw;
    height: auto;
    }
    .massage-1 .light{
        width: 70vw;
    }
    .massage-1 .text{
        width: 70vw;
    }
    
    .massage-2 .light{
        width: 70vw;
    }
    .massage-2 .text{
        width: 70vw;
        font-size: 13px;
    }

    .massage-3 .light{
        width: 70vw;
    }
    .massage-3 .text{
        width: 70vw;
        font-size: 13px;
    }
    .massage-3 .subject{
        font-size: 20px;
    }
    
    .massage-4 .light{
        width: 70vw;
    }
    .massage-4 .text{
        width: 70vw;
    }
    .massage-4 .subject{
        font-size: 20px;
    }
    
    .massage-5 .light{
        width: 70vw;
    }
    .massage-5 .text{
        width: 70vw;
        font-size: 13px;
    }
    .massage-5 .subject{
        font-size: 20px;
    }
}