body{
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;

}
.massage-wall{

    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,290px);
    grid-gap: 20px;
    max-width: 1440px;
    margin: 20px;
    min-height: 100vh;


}
.massage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    font-family: var(--principal-font);
    border-radius: 10px;
    line-height: 22px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.44);
}

.massage-1{
    background-color: var(--chat-1-background);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position:80% 0%;
    max-width: 600px;
    grid-column: 1 / span 2;
}
.massage-1 .light{
    width: 540px;
}
.massage-1 .text{
    width: 540px;
    margin-top: 15px;   
    font-size: 15px;
}

.massage-2{
    background-color: var(--chat-2-background);
    width: 280px;
    grid-column-start: 3;
}
.massage-2 .light{
    width: 200px;
}

.massage-2 .text{
    width: 200px;
    margin-top: 15px;
    line-height: 22px;
    font-size: 14px;
}
.massage-3{
    background-color: var(--chat-4-background);
    width: 280px;
    grid-column-start: 1;
    grid-row-start: 2;
}

.massage-3 .light{
    width: 200px;
}

.massage-3 .text{
    width: 200px;
    margin-top: 15px;
    line-height: 24px;
    font-size: 14px;
}

.massage-4{
    background-color: var(--chat-3-background);
    width: 600px;
    grid-column: 2 / span 3;
    grid-row-start: 2;
}
.massage-4 .light{
    width: 540px;
}
.massage-4 .text{
    width: 540px;
    line-height: 22px;
    margin-top: 20px;
    font-size: 15px;
}
.massage-5{
    background-color: var(--chat-4-background);
    width: 340px;
    grid-column-start: 4;
    grid-row: 1 / span 2;
    padding: 20px 30px;
}
.massage-5 .light{
    width: 280px;
}

.massage-5 .text{
    width: 280px;
    margin-top: 10px;
    line-height: 26px;
    font-size: 14.5px;
}

.massage .header-massage{
    display:grid;
    width: 200px;
    grid:
    'image author'25px
    'image status'20px
    ;
    margin-bottom: 20px;
}
.massage .image{
    display: flex;
    width: 40px;
    border-radius: 30px;
    border: 2px solid var(--color-light);
    margin-right: 8px;
}

.massage .light{
    color: var(--color-light);
}

.massage .light.text, .light.status{
    color: var(--color-gray);
}

.author{
    display: flex;
    grid-area: author;
}

.status{
    display: flex;
    grid-area: status;
    color: gray;
}
.subject{
    display: flex;
    font-size: 22px;
}
.text{
    color: gray;
}